 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 709px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 28px 147px 0 169px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-align: start;
  width: 803px;
  margin: 28px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  text-align: start;
  margin: 20px 147px 0 169px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: 50px auto 0 447px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  text-align: start;
  width: 803px;
  margin: 20px 169px 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  text-align: start;
  margin: 20px 147px 60px 169px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: 803px;
    margin-left: 69px;
    margin-right: 47px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 47px;
    margin-left: 69px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 247px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 69px;
    margin-right: 69px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 46px;
    margin-left: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 563px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-right: 90px;
    margin-left: 60px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 27px;
    margin-right: 538px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 22px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 433px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 383px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 233px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 183px;
  }

  .u-section-1 .u-text-5 {
    width: 340px;
  }
}